* {
    margin: 0;  
    padding: 0;
}

.menu {
    background-color: rgb(46, 46, 46);
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}
.menu_content{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.button {
    width: 160px;
    margin: 10px;
    padding: 10px;
    font-size: 15px;
    background-color: rgb(255, 255, 255);
    transition: 200ms ease-in-out;
    border: 2px solid black;
}

.button:hover {
    animation: button 250ms infinite ease-in-out;
    background-color: rgb(255, 221, 234);
}
@keyframes button {
    0% { transform: rotateZ(3deg) scale(1.1); filter: saturate(1); }
    50% { transform: rotateZ(-3deg) scale(1.1); filter: saturate(5); }
    100% { transform: rotateZ(3deg) scale(1.1); filter: saturate(1); }
}

.transition-box {
    position: fixed;
    display: flex;
    flex-direction: row;
    top: 0;
    right: -200%;
    width: 200%;
    height: 100%;
    z-index: 1000;
    transition: right 1s ease-in-out;
}

.transition-box-in {
    width: 100%;
    height: 100%;
    background: linear-gradient(90deg,rgba(255, 255, 255, 0) 0%, rgba(0, 0, 0, 1) 100%);
    filter: blur(2);
}
.transition-box-box {
    width: 100%;
    height: 100%;
    background: black;
}

.logo {
    animation: logo 2s infinite ease-in-out;
    transition: 300ms ease-in-out;
}

@keyframes logo {
    0% { transform: rotateZ(3deg); }
    50% { transform: rotateZ(-3deg); }
    100% { transform: rotateZ(3deg); }
}

.warning_box, .level_selector{
    display: block;
    height: 100vh;
    width: 100vw;
    position: fixed;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    z-index: 100;
    right: 100%;
    transition: right 500ms ease-in-out;
    color: white;
}
.warning_box_content{
    height: 60vh;
    width: 60vw;
    background-color: rgba(0, 0, 0, 0.9);
    border: white 10px double;
    border-radius: 2px;
    padding: 20px;
    display:flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.warning_box_content h1{
    margin-bottom: 30px;
    text-align: center;
    font-size: 4vw;
}
.warning_box_display{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-bottom: 20px;
    background-color: rgb(0, 0, 0);
    border: white 2px solid;
}
.warBoxButton_ON, .warBoxButton_OFF{ 
    width: 250px;
    margin-top: 50px;
    padding: 20px;
    font-size: 20px;
    transition: 200ms ease-in-out;
    border: 2px solid black;
}
.warBoxButton_ON{
    color: black;
    animation: button 250ms infinite ease-in-out;
    background-color: rgb(255, 221, 234);
    cursor: pointer;
}
.warBoxButton_OFF{ 
    color: rgba(0, 0, 0, 0.7);
    background-color: rgb(122, 122, 122);
}

.level_selector_content{
    height: 90vh;
    width: 80vw;
    padding: 20px;
    background-color: rgba(0, 0, 0, 0.95);
    border: white 5px solid;
    border-radius: 2px;
    display:flex;
    flex-direction: column;
    justify-content: top;
    align-items: center;
}
.level_selector_scroll {
    height: 80vh;
    width: 75vw;
    margin-top: 10px;
    overflow-y: auto;
    border: 4px solid #ffffff;
    border-radius: 2px;
    padding: 20px;
    &::-webkit-scrollbar {
        width: 12px;
    }
    &::-webkit-scrollbar-track {
        background: #333;
        border-radius: 10px;
    }
    &::-webkit-scrollbar-thumb {
        background: #0f0;
        border-radius: 10px;
        border: 3px solid #333;
    }
}
.level_selector_scroll h1 {
    margin-top: 10px;
}
.level_selector_world{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: top;
    align-items: center;
    gap: 10px;
}
.level_selector_world button {
    width: 10%;
    height: 80px;
    background-color: #ffffff;
    border: #131313 1px solid;
    
}
.level_selector_world button:hover {
    background-color: #635c5c;
}